body {
    margin: 0;
    padding: 0;
    background-color: #0000FF; /* Blue background */
}

@keyframes scaling {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    to {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}

@-webkit-keyframes scaling {
    from {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
    to {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
}

.jw-svg-icon-cc-off path,
.jw-svg-icon-cc-on path {
    display: none;
}

.jw-svg-icon-cc-off,
.jw-svg-icon-cc-on {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='audio-subtitles'%3E%3Cpath fill='%23ffffff' d='M5,15 L5,13 L12,13 L12,15 L5,15 Z M14,15 L14,13 L19,13 L19,15 L14,15 Z M10,9 L10,11 L5,11 L5,9 L10,9 Z M11.9998571,11 L12.0001429,9.00000001 L19.0001429,9.00100001 L18.9998571,11.001 L11.9998571,11 Z M17,17 L21,17 L21,5 L3,5 L3,17 L12.9968832,17 L17,19.4392488 L17,17 Z M1,3 L23,3 L23,19 L19,19 L19,22.9999671 L12.4355463,19 L1,19 L1,3 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-cc:hover .jw-svg-icon-cc-off,
.jw-icon-cc:hover .jw-svg-icon-cc-on,
.jw-settings-captions:hover .jw-svg-icon-cc-off,
.jw-settings-captions:hover .jw-svg-icon-cc-on,
.jw-settings-captions[aria-expanded="true"] .jw-svg-icon-cc-off,
.jw-settings-captions[aria-expanded="true"] .jw-svg-icon-cc-on {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='audio-subtitles'%3E%3Cpath fill='%23e50914' d='M5,15 L5,13 L12,13 L12,15 L5,15 Z M14,15 L14,13 L19,13 L19,15 L14,15 Z M10,9 L10,11 L5,11 L5,9 L10,9 Z M11.9998571,11 L12.0001429,9.00000001 L19.0001429,9.00100001 L18.9998571,11.001 L11.9998571,11 Z M17,17 L21,17 L21,5 L3,5 L3,17 L12.9968832,17 L17,19.4392488 L17,17 Z M1,3 L23,3 L23,19 L19,19 L19,22.9999671 L12.4355463,19 L1,19 L1,3 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
}

.jw-svg-icon-pause path {
    display: none;
}

.jw-svg-icon-pause {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='pause'%3E%3Cpath fill='%23ffffff' d='M5,3 L10,3 L10,21 L5,21 L5,3 Z M14,3 L19,3 L19,21 L14,21 L14,3 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-display:hover .jw-svg-icon-pause,
.jw-icon-playback:hover .jw-svg-icon-pause {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='pause'%3E%3Cpath fill='%23e50914' d='M5,3 L10,3 L10,21 L5,21 L5,3 Z M14,3 L19,3 L19,21 L14,21 L14,3 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
}

.jw-svg-icon-volume-100 path {
    display: none;
}

.jw-svg-icon-volume-100 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='volume-high'%3E%3Cpath fill='%23ffffff' d='M9,7.82842712 L6.82842712,10 L4,10 L4,14 L6.82842712,14 L9,16.1715729 L9,7.82842712 Z M11,21 L6,16 L2,16 L2,8 L6,8 L11,3 L11,21 Z M13.7437869,16.3889482 L12.3295734,14.9747347 C13.9546583,13.3496497 13.9546583,10.7148664 12.3295734,9.08978146 L13.7437869,7.6755679 C16.1499205,10.0817014 16.1499205,13.9828147 13.7437869,16.3889482 Z M16.2137399,18.2137399 L14.7995264,16.7995264 C17.4324159,14.1666368 17.4324159,9.89787935 14.7995264,7.26498977 L16.2137399,5.8507762 C19.6276781,9.26471437 19.6276781,14.7998018 16.2137399,18.2137399 Z M18.6836929,20.0385316 L17.2694793,18.6243181 C20.9101736,14.9836239 20.9101736,9.08089228 17.2694793,5.44019807 L18.6836929,4.02598451 C23.1054357,8.4477273 23.1054357,15.6167888 18.6836929,20.0385316 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-volume:hover .jw-svg-icon-volume-100 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='volume-high'%3E%3Cpath fill='%23e50914' d='M9,7.82842712 L6.82842712,10 L4,10 L4,14 L6.82842712,14 L9,16.1715729 L9,7.82842712 Z M11,21 L6,16 L2,16 L2,8 L6,8 L11,3 L11,21 Z M13.7437869,16.3889482 L12.3295734,14.9747347 C13.9546583,13.3496497 13.9546583,10.7148664 12.3295734,9.08978146 L13.7437869,7.6755679 C16.1499205,10.0817014 16.1499205,13.9828147 13.7437869,16.3889482 Z M16.2137399,18.2137399 L14.7995264,16.7995264 C17.4324159,14.1666368 17.4324159,9.89787935 14.7995264,7.26498977 L16.2137399,5.8507762 C19.6276781,9.26471437 19.6276781,14.7998018 16.2137399,18.2137399 Z M18.6836929,20.0385316 L17.2694793,18.6243181 C20.9101736,14.9836239 20.9101736,9.08089228 17.2694793,5.44019807 L18.6836929,4.02598451 C23.1054357,8.4477273 23.1054357,15.6167888 18.6836929,20.0385316 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
}

.jw-svg-icon-volume-0 path {
    display: none;
}

.jw-svg-icon-volume-0 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='volume-mute'%3E%3Cpath fill='%23ffffff' d='M8.99980014,14 L6.99980014,14 L6.99980014,10 L8.99980014,10 L12.9998001,6.41421356 L12.9998001,17.5857864 L8.99980014,14 Z M14.5367889,19.0732113 L13.1225754,17.6589978 C14.9729254,15.8086478 14.9729254,12.2552636 13.1225754,10.4049136 L14.5367889,8.99070008 C17.5290846,11.9829958 17.5290846,16.0819156 14.5367889,19.0732113 Z M16.8843036,21.0647695 L15.4700901,19.650556 C19.6716563,15.4489898 19.6716563,9.61695749 15.4700901,5.41539127 L16.8843036,4.00117772 C21.4829722,8.59984631 21.4829722,16.466101 16.8843036,21.0647695 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
}

.jw-icon-mute:hover .jw-svg-icon-volume-0 {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg id='volume-mute'%3E%3Cpath fill='%23e50914' d='M8.99980014,14 L6.99980014,14 L6.99980014,10 L8.99980014,10 L12.9998001,6.41421356 L12.9998001,17.5857864 L8.99980014,14 Z M14.5367889,19.0732113 L13.1225754,17.6589978 C14.9729254,15.8086478 14.9729254,12.2552636 13.1225754,10.4049136 L14.5367889,8.99070008 C17.5290846,11.9829958 17.5290846,16.0819156 14.5367889,19.0732113 Z M16.8843036,21.0647695 L15.4700901,19.650556 C19.6716563,15.4489898 19.6716563,9.61695749 15.4700901,5.41539127 L16.8843036,4.00117772 C21.4829722,8.59984631 21.4829722,16.466101 16.8843036,21.0647695 Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E%0A");
}
