/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

.header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem 0;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.profile-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.header h1 {
    font-size: 1.8rem;
    color: #333;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.item {
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.05);
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 colunas por linha */
    }
}
.slideshow-container {
    max-width: 100%; /* Defina o máximo desejado */
    position: relative;
    margin: 0 auto; /* Centraliza o slideshow */
    margin-bottom: 20px;
}

.mySlides img {
    width: 100%; /* Mantém a largura da imagem dentro do máximo do slideshow */
    max-width: 100%;
    height: 400px;
}

.caption-container {
    display: none;
}
.search-input {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px; /* Defina o tamanho desejado */
    margin-right: 10px;
}
.search-input {
    padding: 8px;
    font-size: 26px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: calc(100% - 100px); /* Ajuste conforme necessário */
    max-width: 700px; /* Defina um valor máximo se desejar */
    margin-right: 10px;
}
