.wdgt-tt {

}

.wdgt-tt > div {
	display: block;
	margin-top: 10px;
	margin-bottom: 15px;
}

.wdgt-tt label {
	font-size: 13px;
	display: block;
	margin-bottom: 5px;
	font-weight: 700
}

.wdgt-tt input[type="text"], .wdgt-tt input[type="number"]{
	border: none;
	border-radius: 0;
	font-size: 15px;
	padding: 4px 10px;
	width: 100%!important;

}

.wdgt-tt select {
	border: none;
	border-radius: 0;
	font-size: 15px;
	width: 100%;
	padding: 4px 10px;

}
.wdgt-tt input:active, .wdgt-tt input:focus, .wdgt-tt input:hover{
	outline: none;
	border: none;
	box-shadow: none;
}

.fr-input {
	display: flex;
		display: -webkit-box; 
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex; 
	align-items: center;
		-webkit-box-align: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
}
.fr-input {
	border: 1px solid #DFDFDF;
}
.fr-input span {
	background-color: #d4d4d4;
    padding: 10px 10px;
    display: flex;
    width: auto;
    height: 100%;
}
.s-cat {
	padding: 0;

}

.s-cat li {
	display: flex;
		display: -webkit-box; 
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex; 
	align-items: center;
		-webkit-box-align: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
	margin-bottom: 0;
}

.fr-input-cat {
	margin-top: 10px;
}

.fr-input-cat label{
	font-weight: 400;
	margin-bottom: 0;
	font-size: 16px;
}

.fr-input-cat input {
	  -ms-transform: scale(0.8); /* IE */
  -moz-transform: scale(0.8); /* FF */
  -webkit-transform: scale(0.8); /* Safari y Chrome */
  -o-transform: scale(0.8); /* Opera */
  margin-bottom: 0;
  margin-top: 0;
  width:25px;
  height: 25px;
}

.fr-input-cat input:before {
	    width: 1.875rem!important;
    height: 1.875rem!important;
    margin: -.1875rem -.3125rem;
}

.fr-input-cat input:hover, .fr-input-cat input:active, .fr-input-cat input:focus {
	border: 1px solid #000;
}


.hide {
	display: none!important;
}

.wdgt-tt h3 {
	background-color: rgb(211 255 253 / 22%);
    padding: 9px 10px;
    border: 1px solid #b9dcde;
    display: flex;
    	display: -webkit-box; 
    	display: -moz-box;
    	display: -ms-flexbox;
    	display: -webkit-flex; 
    justify-content: space-between; 
    	-webkit-box-pack: justify; 
    	-webkit-justify-content: space-between; 
    	-ms-flex-pack: justify; 
    align-items: center;
    	-webkit-box-align: center;
    	-moz-box-align: center;
    	-ms-flex-align: center;
    	-webkit-align-items: center;
}



/* Customizer */
.customizer-heading{
	color: #051e31; 
} 